@using Models;
@model List<Models.ProductEntity>

@inject IHtmlLocalizer<SharedResource> SharedLocalizer


<section class="news-div">
    <h3 class="novelties-title">@SharedLocalizer["News"]</h3>
    <div class="responsive">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("_ProductBox", item)
        }
    </div>
</section>