@inject IHtmlLocalizer<SharedResource> SharedLocalizer


<div class="basket-full">
    <div class="basket">
        <a href="#">
            <img src="/img/basketBG.png" alt="shopping-cart">
        </a>
        <div class="cart-qty">@ViewBag.Quantity</div>
    </div>
    @if (!(bool)(ViewBag.IsMobile))
    {
        <text>@SharedLocalizer["Basket"]</text>
    }
</div>