

@font-face {
    font-family: 'amdram';
    src: url('am-dram-webfont.eot');
    src: url('am-dram-webfont.eot?#iefix') format('embedded-opentype'),
    url('am-dram-webfont.woff') format('woff'),
    url('am-dram-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




