<header class="header-desktop">
    <!-- ----start of the lang part ----->
    <div class="lang-full">
        <div class="lang-part">
            <div class="lang-img">
                @await Component.InvokeAsync("LanguageSelector")
            </div>

            <div class="user-part">
                <div class="wishlist">
                    @await Component.InvokeAsync("WishList")
                    @await Component.InvokeAsync("LoginRegisterLink")
                </div>
            </div>
        </div>
    </div>
    <!-- ----end of the lang part ----->
    <!-- -----start of the logo part--- -->
    <div class="site-logo">
        <div>
            @await Component.InvokeAsync("Logo")
        </div>

        @await Component.InvokeAsync("Search")

        @await Component.InvokeAsync("PhoneNumbers")

        @await Component.InvokeAsync("ShoppingCartMini")

    </div>
    <!-- -----end of the logo part--- -->
    <!-- ---start of the menu--- -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <!-- <a class="navbar-brand" href="#">Hidden brand</a> -->
           @await Component.InvokeAsync("MainMenu")
        </div>
    </nav>
</header>

<header class="header-mobile">
    <div class="mobile-header-top">
        @await Component.InvokeAsync("Logo")

        <nav class="navbar  navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="mob-open-nav">
                <div class="overlay"></div>
                <span class="mob-menu-close">
                    <div>
                        <img src="/img/close.png" alt="shopping-cart">
                    </div>
                </span>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                    <!-- <a class="navbar-brand" href="#">Hidden brand</a> -->
                    @await Component.InvokeAsync("MainMenu", new { isMobile = true })

                    <div>
                        <div class="lang-img">
                            @await Component.InvokeAsync("LanguageSelector")
                        </div>
                    </div>
                </div>
            </div>

        </nav>
    </div>
    <div class="mobile-header-middle">

        @await Component.InvokeAsync("PhoneNumbers")

        <div class="middle-right">
            <div class="user-part ">
                <div class="wishlist">
                    @await Component.InvokeAsync("WishList")
                </div>
                <div class="user-cont">
                    @await Component.InvokeAsync("LoginRegisterLink", new {isMobile = true})
                </div>

                @await Component.InvokeAsync("ShoppingCartMini", new {isMobile = true})

            </div>

        </div>
    </div>
    <div class="mobile-header-bottom">
        @await Component.InvokeAsync("Search")
    </div>



</header>
