@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<div class="search-part">
    <input type="search" placeholder="@SharedLocalizer["ProductSearchText"]" class="search">
    <button>
        <img src="./img/magnifying-glass.png" alt="search">
    </button>
</div>