<div class="telephone-number">
    <ul>
        <li>
            <a href="tel:+37498-560-141">
                <img src="./img/telephone.png" alt="telephone">
                +37498-560-141
            </a>
        </li>
        <li>
            <a href="tel:+37491-560-141">
                <img src="./img/telephone.png" alt="telephone">
                +37491-560-141
            </a>
        </li>
        <li>
            <a href="">
                <img src="./img/clock.png" alt="clock">
                10:00 - 19:00
            </a>
        </li>
    </ul>
</div>