
@{
    ViewData["Title"] = "About";
}
<div class="container">
    <h2 style="color:#f89b1c; margin-left:10px;margin-top:20px;">
        Մեր մասին
    </h2>
    <div style="text-align:center;margin-top:30px">
        <pre>
            Bonusmarket-ը, լինելով նոր անուն առցանց խանութների ցանկում, առաջարկում է  իր հաճախորդներին տեխնիկայի, 
տնտեսական ապրանքների, հուշանվերների և խաղալիքների, գրենական և գրասենյակային պարագաների, սպասքի և խոհանոցային պարագաների, 
կոսմետիկ և հիգենիկ միջոցների, հագուստի և կոշիկների, գալանտերեայի և այլ կենցաղային ապրանքների լայն տեսականի:

Bonusmarket  առցանց առևտրի կենտրոնը կդարձնի  Ձեր առցանց առևտուրը  առավել հաճելի և շահավետ՝ առաջարկելով  իր հաճախորդին ընտրության և որոնման պարզ եղանակներ:

Անցկացնելով ընդամենը մի քանի րոպե Bonusmarket.am կայքում ՝  Դուք այլևս ստիպված չեք լինի այցելել սուպերմարկետ՝ գնումներ կատարելու:

Bonusmarket-ի հաճախորդներն ունեն հնարավորություն պատվիրելու նաև ապրանքներ որոնք ընգրկված չեն մեր կատալոգներում:  
        </pre>
    </div>
</div>

