
@{
    ViewData["Title"] = "PrivacyPolicy";
}
<div class="container">
    <h2 style="color:#f89b1c; margin-left:10px;margin-top:20px;">
        Կապ
    </h2>
    <div style="text-align:center;margin-top:30px">
        <pre>
            Հասցե -Ե․ Քոչար 17

            Հեռ.  -091-560-141
            Հեռ.  -098-560-141
       </pre>
    </div>
</div>

