    <!-- ------general slider---- -->
@await Component.InvokeAsync("CarouselBanner")

<!-- -----end of the general slider--- -->

<!-------start of the novelties part------>
@await Component.InvokeAsync("HomePageNewProducts")
<!-------end of the novelties part------>

<!-- ------start of the sale part--- -->
@await Component.InvokeAsync("HomePageSaleProducts")
<!-- --- end of the sale part-- -->

<!-- ----start of the shop section part---- -->
@await Component.InvokeAsync("HomePageCategories")
<!-- ----end of the shop section part---- -->

<!-- ------start of the gift part----- -->
<section class="gift-part">
    <div class="gift-part-parent ">
        <a href="#">
            <img src="./img/gift-card1.png" alt="gift-card">
        </a>
        <a href="#">
            <img src="./img/srbich.png" alt="srbich">
        </a>
        <a href="#">
            <img src="./img/baby.png" alt="baby">
        </a>
    </div>
</section>
<!-- ------end of the gift part----- -->

<!-- -----start of the advertisment-- -->
@await Component.InvokeAsync("AdvertismentBanner")
<!-- -----end of the advertisment---- -->

<!-- -----start of the parnters logo--- -->
@await Component.InvokeAsync("HomePageBrands")
<!-- ----end of the partners logo--------->