
@{
    ViewData["Title"] = "ReturnPolicy";
}
<div class="container">
    <h2 style="color:#f89b1c; margin-left:10px;margin-top:20px;">
        Առաքման և վերադարձի պայմաններ
    </h2>
    <div style="text-align:center;margin-top:30px">
        <pre>
Bonusmarket օնլայն առևտրի կենտրոնի  առաքման, վճարման և ապրանքի ետ վերադարձի պայմանները՝

 Առաքման պայմանները՝

     Անվճար առաքում - եթե պատվերը գերազանցում է 5 000 դրամը (Երևանի տարածքում)
     500 դրամ- եթե պատվերը չի գերազանցում  5 000 դրամը (Երևանի տարածքում)
Կայքում պատվերների ընդունումը հասանելի է  շաբաթվա բոլոր օրերին, օրվա ցանկացած ժամի։

Պատվիրված ապրանքի առաքումը կատարվում է պատվիրելուց 24 ժամվա ընթացքում։

Վճարման պայմանները՝

 Կանխիկ վճարում,  որը կատարվում է ապրանքը ստանալու պահին ՀԴՄ կտրոնի տրամադրմամբ։
 Ոչ կանխիկ վճարում (բանկային փոխանցում) իրավաբանական անձանց համար:  Պատվերի առաքման ժամանակ տրվում են համապատասխան փաստաթղթեր` ( հաշվարկային փաստաթղթեր ) 
Ոչ կանխիկ վճարում (բանկային փոխանցում) կատարելու դեպքում առաքումը կիրականացվի գումարը բանկային հաշվին նստելուց  հետո 24 ժամվա ընթացքում։

Կայքում ներկայացված ապրանքների գները ներառում են ԱԱՀ-ն։

 

Ապրանքի ետ վերադարձի պայմաններ՝

Գնված ապրանքի վերադարձը կարգավորվում է կայքի ադմինիստրացիայի  և գնորդի համաձայնությամբ:

Ապրանքի ետ վերադարձը հնարավոր է, եթե

առաքված ապրանքի տեսքը չի համընկնում կայքում տեղադրված նկարին կամ նկարագրությանը
ապրանքը վնասված է կամ խոտանված։  Ապրանքի վերադարձը ձևակերպելու համար անհրաժեշտ է Ձեզ տրամադրված ՀԴՄ կտրոնը։


        </pre>
    </div>
</div>

