/* 10px */
/* 12px */
/* 14px */
/* 16px */
/* 18px */
/* 20px */
/* 24px */
/* 30px */
/* 36px */
/* 48px */
.fontAwesomeSet {
  display: block;
  font-family: FontAwesome;
  font-size: inherit;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.daterangepicker {
  position: absolute;
  color: inherit;
  background: #fff;
  width: 278px;
  padding: 4px;
  margin-top: 12px;
  border-radius: none;
  top: 100px;
  left: 20px;
  border: 1px solid #00BCD4;
  /* Calendars */ }
  .daterangepicker:before, .daterangepicker:after {
    content: " ";
    display: table; }
  .daterangepicker:after {
    clear: both; }
  .daterangepicker:before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #00BCD4 transparent; }
  .daterangepicker.opensleft:before {
    left: auto;
    right: 8px; }
  .daterangepicker.openscenter:before {
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto; }
  .daterangepicker.dropup {
    margin-top: -12px; }
    .daterangepicker.dropup:before {
      top: auto;
      bottom: -8px;
      border-width: 8px 8px 0 8px;
      border-color: #00BCD4 transparent transparent transparent; }
  .daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 3001; }
  .daterangepicker.single .ranges, .daterangepicker.single .calendar {
    float: none; }
  .daterangepicker.show-calendar .calendar {
    display: block; }
  .daterangepicker .calendar {
    display: none;
    max-width: 270px;
    margin: 4px; }
    .daterangepicker .calendar.single {
      margin: 4px !important; }
      .daterangepicker .calendar.single .calendar-table {
        border: none;
        padding: 0 !important; }
    .daterangepicker .calendar th, .daterangepicker .calendar td {
      white-space: nowrap;
      text-align: center;
      min-width: 28px; }
  .daterangepicker .calendar-table {
    border: none;
    padding: 0;
    border-radius: 0;
    background: transparent; }
  .daterangepicker table {
    width: 100%;
    margin: 0; }
  .daterangepicker td, .daterangepicker th {
    text-align: center;
    border-radius: 0;
    border: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 0.875em;
    line-height: 22px;
    padding: 3px !important; }
    .daterangepicker td.available:hover, .daterangepicker th.available:hover {
      background-color: rgba(0, 188, 212, 0.7);
      color: #ffffff; }
    .daterangepicker td.week, .daterangepicker th.week {
      font-size: 80%;
      color: #ccc; }
    .daterangepicker td .fa, .daterangepicker th .fa {
      display: block;
      line-height: inherit;
      text-align: center; }
  .daterangepicker td.off {
    background-color: #fff;
    border-color: transparent;
    color: #999; }
  .daterangepicker td.in-range, .daterangepicker td.in-range.off {
    background-color: rgba(0, 188, 212, 0.2); }
    .daterangepicker td.in-range.active, .daterangepicker td.in-range.off.active {
      background-color: #00BCD4; }
  .daterangepicker td.in-range.off:hover {
    color: #999; }
  .daterangepicker td.in-range.off.active:hover {
    color: #ffffff; }
  .daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #00BCD4;
    color: #ffffff; }
  .daterangepicker th.month {
    width: auto; }
  .daterangepicker th.available:hover {
    background-color: transparent;
    color: #00BCD4; }
  .daterangepicker td.disabled, .daterangepicker option.disabled {
    color: #999;
    cursor: not-allowed;
    text-decoration: line-through; }
  .daterangepicker select.monthselect, .daterangepicker select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default; }
  .daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%; }
  .daterangepicker select.yearselect {
    width: 40%; }
  .daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
    width: 50px;
    margin-bottom: 0; }
  .daterangepicker .input-mini {
    border: 1px solid #00BCD4;
    border-radius: 0;
    color: #555;
    height: 30px;
    line-height: 30px;
    display: block;
    vertical-align: middle;
    font-size: 0.875em;
    margin: 0 0 5px 0;
    padding: 0 6px 0 28px;
    width: 100%; }
    .daterangepicker .input-mini.active {
      border: 1px solid #00BCD4;
      border-radius: 0; }
  .daterangepicker .daterangepicker_input {
    position: relative; }
    .daterangepicker .daterangepicker_input i {
      position: absolute;
      left: 8px;
      top: 8px; }
  .daterangepicker .calendar-time {
    text-align: center;
    margin: 5px auto;
    line-height: 24px;
    position: relative;
    padding-left: 28px; }
    .daterangepicker .calendar-time i {
      top: 0;
      line-height: inherit; }
    .daterangepicker .calendar-time select {
      padding: 0 5px;
      height: 24px;
      line-height: 24px;
      border: 1px solid #00BCD4;
      font-size: 0.875em;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
      .daterangepicker .calendar-time select.hourselect {
        text-align: right;
        direction: rtl; }
      .daterangepicker .calendar-time select.disabled {
        color: #ccc;
        cursor: not-allowed; }

.ranges {
  float: none;
  margin: 4px;
  text-align: left; }
  .ranges:before, .ranges:after {
    content: " ";
    display: table; }
  .ranges:after {
    clear: both; }
  .ranges ul {
    display: block;
    list-style: none;
    margin: 0 auto;
    padding: 0; }
    .ranges ul li {
      display: block;
      font-size: 0.75em;
      line-height: 16px;
      padding: 3px 10px;
      margin-bottom: 4px;
      color: #607D8B;
      background: transparent;
      cursor: pointer; }
      .ranges ul li:hover, .ranges ul li.active {
        background: #00BCD4;
        color: #ffffff; }
    .ranges ul + .range_inputs {
      margin-top: 6px; }
  .ranges .range_inputs {
    float: right; }

/*  Larger Screen Styling */
@media (min-width: 564px) {
  .daterangepicker {
    width: auto; }
    .daterangepicker .ranges ul {
      width: 160px; }
    .daterangepicker.single .ranges ul {
      width: 100%; }
    .daterangepicker.single .calendar.left {
      clear: none; }
    .daterangepicker.single .calendar {
      float: left; }
    .daterangepicker .calendar.left {
      clear: left;
      margin-right: 0; }
      .daterangepicker .calendar.left .calendar-table {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
    .daterangepicker .calendar.right {
      margin-left: 0; }
      .daterangepicker .calendar.right .calendar-table {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
    .daterangepicker .left .daterangepicker_input {
      padding-right: 12px; }
    .daterangepicker .calendar.left .calendar-table {
      padding-right: 12px; }
    .daterangepicker .calendar {
      float: left; } }
@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto; }
    .daterangepicker .ranges:first-child {
      float: left; }
  .daterangepicker .calendar.left {
    clear: none; } }
