/* 10px */
/* 12px */
/* 14px */
/* 16px */
/* 18px */
/* 20px */
/* 24px */
/* 30px */
/* 36px */
/* 48px */
.fontAwesomeSet {
  display: block;
  font-family: FontAwesome;
  font-size: inherit;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box; }

.noUi-target {
  position: relative;
  direction: ltr; }

.noUi-base {
  position: relative;
  z-index: 1;
  /* Fix 401 */
  box-sizing: content-box; }

.noUi-origin {
  position: absolute; }

.noUi-handle {
  position: relative;
  z-index: 1; }

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
  	 its values is > 50%. */
  z-index: 10; }

.noUi-state-tap .noUi-origin {
  transition: left 0.3s, top 0.3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
  transform: translate3d(0, 0, 0); }

/* Slider size and handle placement;
 */
.noUi-horizontal .noUi-base {
  height: 6px;
  padding: 5px 0; }
  .noUi-horizontal .noUi-base:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    top: 50%;
    margin-top: -3px;
    left: 0;
    background: #ccc; }
  .noUi-horizontal .noUi-base .noUi-handle {
    width: 20px;
    height: 16px;
    left: -10px;
    top: -5px; }
    .noUi-horizontal .noUi-base .noUi-handle:before {
      width: 2px;
      height: 100%;
      left: 50%;
      margin-left: -1px;
      top: 0; }
  .noUi-horizontal .noUi-base .noUi-origin {
    left: 0;
    right: 0;
    top: 5px;
    bottom: 5px; }
    .noUi-horizontal .noUi-base .noUi-origin:first-child:last-child:before {
      width: 10000px;
      height: 100%;
      right: 100%; }
    .noUi-horizontal .noUi-base .noUi-origin:first-child:last-child.noUi-connect:before {
      right: auto;
      left: 0; }

.noUi-vertical {
  float: left;
  width: 6px;
  height: 200px;
  margin: 0 5px 0 15px; }
  .noUi-vertical .noUi-base {
    height: 100%; }
    .noUi-vertical .noUi-base:before {
      content: "";
      position: absolute;
      width: 6px;
      height: 100%;
      top: 0;
      left: 50%;
      margin-left: -3px;
      background: #ccc; }
    .noUi-vertical .noUi-base .noUi-handle {
      width: 16px;
      height: 16px;
      left: -5px;
      top: -8px; }
      .noUi-vertical .noUi-base .noUi-handle:before {
        width: 100%;
        height: 2px;
        left: 0;
        top: 50%;
        margin-top: -1px; }
    .noUi-vertical .noUi-base .noUi-origin {
      left: 0;
      right: 0;
      top: 5px;
      bottom: 5px; }
      .noUi-vertical .noUi-base .noUi-origin:first-child:last-child:before {
        width: 10000px;
        height: 100%;
        right: 100%; }
      .noUi-vertical .noUi-base .noUi-origin:first-child:last-child.noUi-connect:before {
        right: auto;
        left: 0; }
  .noUi-vertical:first-child {
    margin-left: 5px; }

.noUi-handle {
  cursor: grab;
  cursor: -webkit-grab; }
  .noUi-handle:before {
    content: "";
    display: block;
    position: absolute;
    background: #00BCD4; }

/* Styling;
 */
.noUi-origin.noUi-background {
  background: #ccc; }
.noUi-origin.noUi-connect {
  background: #00BCD4;
  transition: background 450ms; }

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize; }

.noUi-vertical .noUi-draggable {
  cursor: n-resize; }

.noUi-active {
  cursor: grabbing;
  cursor: -webkit-grabbing; }

/* Handle stripes;
 */
/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #a8a8a8; }

[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed; }
  [disabled].noUi-origin:before,
  [disabled] .noUi-handle:before {
    background: #a8a8a8; }

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  box-sizing: border-box; }

.noUi-pips {
  color: #999; }

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  text-align: center;
  font-size: 0.75em;
  line-height: 1;
  color: #404040; }

.noUi-value-sub {
  color: #a5a5a5;
  font-size: 10px; }

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC; }

.noUi-marker-sub {
  background: #AAA; }

.noUi-marker-large {
  background: #AAA; }

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 2px 0 30px 0; }

.noUi-value-horizontal {
  -ms-transform: translate(-50%, 120%);
  transform: translate(-50%, 120%); }

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 4px; }

.noUi-marker-horizontal.noUi-marker-sub {
  height: 9px; }

.noUi-marker-horizontal.noUi-marker-large {
  height: 12px; }

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%; }

.noUi-value-vertical {
  transform: translate3d(0, -50%, 0);
  padding-left: 25px; }

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px; }

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px; }

.noUi-marker-vertical.noUi-marker-large {
  width: 15px; }

.noUi-tooltip {
  display: block;
  position: absolute;
  text-align: center;
  font-size: 0.75em;
  line-height: 1;
  color: #404040; }

.noUi-horizontal .noUi-origin .noUi-tooltip {
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
.noUi-horizontal .noUi-origin .noUi-handle-lower .noUi-tooltip {
  top: -20px; }
.noUi-horizontal .noUi-origin .noUi-handle-upper .noUi-tooltip {
  bottom: -20px; }
.noUi-horizontal .noUi-origin[style="left: 100%"] .noUi-tooltip, .noUi-horizontal .noUi-origin[style="left: 100%;"] .noUi-tooltip, .noUi-horizontal .noUi-origin[style="left:100%"] .noUi-tooltip, .noUi-horizontal .noUi-origin[style="left:100%;"] .noUi-tooltip {
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0); }
.noUi-horizontal .noUi-origin[style="left: 0%"] .noUi-tooltip, .noUi-horizontal .noUi-origin[style="left: 0%;"] .noUi-tooltip, .noUi-horizontal .noUi-origin[style="left:0%"] .noUi-tooltip, .noUi-horizontal .noUi-origin[style="left:0%;"] .noUi-tooltip {
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }
.noUi-horizontal.noUi-tooltip-top {
  margin-top: 20px; }
.noUi-horizontal.noUi-tooltip-bottom {
  margin-bottom: 20px; }

.noUi-vertical .noUi-handle-lower .noUi-tooltip {
  left: 120%; }

.noUi-vertical .noUi-handle-upper .noUi-tooltip {
  right: 120%; }
