
@{
    ViewData["Title"] = "AddProductBySku";
    Layout = "";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .curraent {
        background-color: #97d3f7;
    }

    .fa-edit, fa-a {
        margin-right: 12px;
    }

    .admin_h2 {
        margin-bottom: 50px;
        background-color: #d09f17;
        color: white;
        text-align: center;
        display: block;
        padding: 10px;
    }
</style>
<div class="container">
    <div class="row" style="background-color:#dfe0e2">
        <h2 style="text-align:center;" class="container admin_h2">Add Product by sku</h2>
        <form asp-action="AddProductBySku" asp-controller="Admin" method="post">
            <p>Enter Sku</p>
            <input type="text" name="sku" value="" />
            <button type="submit">Check</button>
        </form>
    </div>
</div>

